@page "/todo"
@inject IDialogService DialogService

<h3>ToDoList</h3>
<head>
</head>
<div>
    <h1>todos</h1>

    <MudTextField Variant="Variant.Outlined"
                  @bind-Value="@task" placeholder="Enter your todo"
                  @onkeyup="@SubmitByEnter" />
    <button type="button" @onclick="AddTask" class="btn btn-primary"> Add task</button>

    <br />
    <br />
</div>

    <MudDropContainer T="DropItem" Items="@_items" @ref="_container" ItemsSelector="@((item,dropzone) => item.Selector == dropzone)" ontimeupdate="1" ItemDropped="ItemUpdated" Class="d-flex flex-wrap flex-grow-1">
        <ChildContent>
            @for (int i = 0; i < 3; i++)
            {
            var dropzone = returnTaskHeadline(i);
            @*var dropzone = i.ToString();*@
            <MudPaper Class="ma-4 flex-grow-1">
                    <MudList Clickable="true" Class="d-flex flex-column mud-height-full">
                        <MudListSubheader>
                            @dropzone
                        </MudListSubheader>
                        <MudDropZone T="DropItem" Identifier="@dropzone" Class="flex-grow-1" AllowReorder="true" />
                    </MudList>
                </MudPaper>
            }
        </ChildContent>
        <ItemRenderer>
            <MudListItem Text="@context.Name" />
        </ItemRenderer>
    </MudDropContainer>



@code {
    private void RefreshContainer()
    {
        //update the binding to the container
        StateHasChanged();

        //the container refreshes the internal state
        _container.Refresh();
    }

    string returnTaskHeadline(int nr)
    {
        if (nr == 0) return "To Do";
        else if (nr == 1) return "Doing";
        return "Done";
    }
    string? task = null;
    List<Todo> tasks = new List<Todo>();
    List<Todo> tasksDone = new List<Todo>();
    int nrOfTasks = 0;
    private MudDropContainer<DropItem> _container;

    private void ItemUpdated(MudItemDropInfo<DropItem> dropItem)
    {
        dropItem.Item.Selector = dropItem.DropzoneIdentifier;
    }

    private List<DropItem> _items = new List<DropItem>();
    private List<DropItem> newList = new List<DropItem>();

    public class DropItem
    {
        public string Name { get; set; }
        public string Selector { get; set; }
    }

    void SubmitByEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            Console.WriteLine("TAsk Added");
            AddTask();
        }
    }

    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            AddTask();
        }
    }

    void AddTask()
    {
        if (!String.IsNullOrEmpty(task?.Trim(' '))) // Old code: task != null && !task.All(c => c.Equals(' ')) <= This validation check will only occur when user types one space.
        {
            //tasks.Add(new Todo { Text = task, Id = nrOfTasks++ });
            _items.Add(new DropItem() { Name = task, Selector = "0" });
            Console.WriteLine($"Added task: {task}");
        }
        StateHasChanged();
        _container.Refresh();
        task = null;
    }

    private void DeleteTask(Todo item)
    {
        tasks.Remove(item);
        tasksDone.Add(item);
    }
}